* {
    box-sizing: border-box;
}


body {
	margin: 0;
}

#top {
	background: black;
	color: white;
	height: 10vh;
}


#top h1, #top h2 {
	margin: 0;
	display: inline-block;
	padding: 0 0.5em;
	line-height: 10vh;
}

#top h2 {
	float: right;
}

/*let's style the image*/
#header img{
	 width: 100%; 
}

.dates

.campus

footer